# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore build artifacts
dist/
build/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

##
__pycache__/
.vscode/
*.code-workspace
# Ignore Python cache files
*.pyc

# Ignore Python virtual environment
venv/
##
key.txt